<% include common/header.htm %>


<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />    
  </head>
  <body>
 <div class="container " style="position:relative;">
    <h1><%= title %></h1>
    <table border="1px">
        <tr>
            <th>ID号</th>
            <th>用户名</th>
            <th>电话</th>
            <th>电子邮箱</th>
            <th>性别</th>
            
        </tr>   
         <tr>
             <td><%= user._id %></td> 
             <td><%= user.name %></td> 
             <td><%= user.phone %></td> 			
             <td><%= user.email %></td> 			
             <td><%= user.gender %></td> 
             
 </tr>
</table>
<img <%= user.image %></img>
</div>
  </body>
</html>
